<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-rce-war:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_rce_war_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-rce-war" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="aopalliance-1.0" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-rce-war/web/Web" />
    </root>
  </artifact>
</component>